.bg-primary {
    background-color: #17332A;
}

.text-primary {
    color: #17332A;
}

.text-secondary {
    color: #C97B5B;
}

.bg-accent {
    background-color: #EEB85D;
}

.bg-gray-50 {
    background-color: #F9FAFB;
}